/* Global */
* {
  font-family: Tahoma, Geneva, sans-serif;
}

/* Sections */
#header {
  height: 100vh;
  background: #b3060e;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#produtos {
  position: relative;
  min-height: 200px;
  background: url('../src/imgs/img2.jpg');
  background-color: #cf212a;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
  color: #fff;
}

#footer p {
  font-size: 0.75rem;
}

/* Title Section Design*/
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #cf212a;
}

.hr-text-loc {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
}

.hr-text-loc:before {
  content: '';
  background: linear-gradient(to right, transparent, black, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text-loc:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fff;
}

/*Produtos Zoom*/
.produtos-background {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3);
}

.zoom:hover button {
  background-color: #cf212a !important;
  box-shadow: 0 0 50px #ff0;
}

/* WhatsApp Icon */
.icon-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  border: 0.5px solid #fff;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}

.my-icon-float {
  margin-top: 16px;
}

/* NavBar Link Hover effect */
.nav-link:hover {
  text-shadow: 1px 0px 20px #b3060e;
  transition: 1s linear 0s;
  outline: 0 none;
}

/* Colors */
.color-red {
  background: #b3060e;
}

.color-light-red {
  background: #cf212a;
}

.color-black {
  background: #272f38;
}

/* Media Queries */
@media (max-width: 992px) {
  #header h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #produtos h1 {
    color: black;
  }
  .mb-resp {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 506px) {
  .pb-resp {
    padding-bottom: 3rem;
  }
  #header h1 {
    font-size: 3rem;
  }
  #produtos button {
    background-color: #cf212a !important;
    box-shadow: 0 0 50px #ff0;
  }
}

@media (max-width: 364px) {
  #header h1,
  #produtos h1,
  #sobre h1,
  #contato h1,
  #localizacao h1 {
    font-size: 2.5rem;
  }
  #header .col-md-6:first-child {
    margin-bottom: 2em;
  }
  #footer {
    padding-top: 1.5rem;
  }
}
